* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Work Sans", sans-serif;
}

p {
    font-family: "Work Sans", sans-serif;
}

.NavBarContainer {
    width: 100%;
    background-color: navy;
    height: 50px;
    display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
}

.NavBarContainer img {
    height: 32px;
    margin-left: .5%;
    flex: 0 0 auto;
}

.NavBarContainer h2 {
    margin-left: 7%;
    color: lightskyblue;
}

.NavBarContainer a {
    text-decoration: none;
    color: white;
}

.NavLinks {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    margin-left: 3.5%;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .NavBarContainer h2 {
        margin-left: 10px;
    }

    .NavBarContainer img {
        margin-left: .7rem;
    }

    .NavLinks {
        margin-left: .7rem;
    }
}

@media (max-width: 400px) {
    .NavLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: navy;
    }

    .NavLinks.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

.PageContainer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Box {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
    gap: 1rem;
    text-align: center;
    max-width: 1600px;
    padding-bottom: 20px;
    margin-top: 50px;
}

#ProPic {
    width: 250px;
    height: 250px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.Box {
    margin-bottom: 7rem;
}

.Experience-Education {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: navy;
    margin: 0;
    padding: 40px;
    gap: 20px;
}

.Card ul {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* Education Card */
.Education {
    width: 40%;
    height: 200px;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.Education h2 {
    color: navy;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
    text-align: center;
}

.Education h3 {
    color: navy;
    margin-bottom: 5px;
    margin-left: 15px;
}

.Education ul {
    margin-top: 5px;
    margin-left: 50px;
}

/* Experience Card */
.Experience {
    width: 40%;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 200px;
}

.Experience h2 {
    color: navy;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
    text-align: center;
}

.Experience li {
    margin-left: 50px;
    margin-bottom: 10px;
}

.Experience h3 {
    color: navy;
}

@media (max-width: 1050px) {
    .Box {
        padding-top: 90px;
    }

    .Experience-Education {
        flex-direction: column;
        gap: 1rem;
        height: 800px;
    }

    .Card {
        width: 95%;
        height: 250px;
    }

    .Card ul {
        padding-right: 10px;
    }

    .Education li {
        margin-bottom: 4px;
    }
}

hr {
    width: 100%;
    border: 1px solid navy;
}