* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.NavBarContainer {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: navy;
    color: white;
    padding: 1rem;
    height: 60px;
    width: 100%;
    min-width: 200px;
}

.nav-left {
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 2rem;
    margin: 0;
}

.Logo {
    text-decoration: none;
    color: lightskyblue;
    font-size: 1rem;
    margin-top: 2px;
    padding: 0;
}

.AmericanFlag img {
    height: 2rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    flex: 0 0 auto;
    border: none; /* Ensure no border */
    padding: 0; /* Remove any padding */
    border-radius: 0; /* Remove any border radius */
}

.NavLinks {
    display: flex;
    gap: 1rem;
    margin-left: 3rem;
}

.NavLinks a {
    text-decoration: none;
    color: white;
}

@media (max-width: 490px) {
    .NavLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 15rem;
        background-color: navy;
        text-align: center;
        padding: 1rem 0;
        border: 3px solid lightskyblue;
    }

    .NavLinks.show {
        display: flex;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

