.NavBarContainer {
    width: 100%;
    background-color: navy;
    height: 50px;
    display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
}

.NavBarContainer img {
    height: 32px;
    margin-left: .5%;
    flex: 0 0 auto;
}

.NavBarContainer h2 {
    margin-left: 7%;
    color: lightskyblue;
}

.NavBarContainer a {
    text-decoration: none;
    color: white;
}

.NavLinks {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    margin-left: 3.5%;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .NavBarContainer h2 {
        margin-left: 10px;
    }

    .NavBarContainer img {
        margin-left: .7rem;
    }

    .NavLinks {
        margin-left: .7rem;
    }
}

@media (max-width: 400px) {
    .NavLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: navy;
    }

    .NavLinks.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}